<div class="navbar-top fixed-top py-4 shadow-sm p-3 mb-5">
  <div class="row justify-content-center nav-items">
    <div class="col-3 col-lg-3 text-center">
      <%= link_to :back do %>
        <img src="https://res.cloudinary.com/dpwr92z8p/image/upload/v1591953090/back_pobzrj.png" width="40">
      <% end %>
    </div>
    <div class="col-6 col-lg-6 text-center nav-logo">
      <img src="https://res.cloudinary.com/dpwr92z8p/image/upload/v1591953093/defi_oojc5a.png" width="130">
    </div>
    <div class="col-3 col-lg-3 text-center">
      <%= image_tag "https://cdn.shopify.com/s/files/1/1191/6120/files/image_blog_6e7c93c1-bb3c-476d-87bf-9d1454eab8fe_grande.jpg?v=1548258237", class: "avatar dropdown-toggle" %>
    </div>
  </div>
</div>
