<h1 id="display">defi wind</h1>

<div class="navbar-bottom fixed-bottom py-4">
  <div class="row justify-content-center nav-items">
    <div class="col-3 col-lg-3 text-center nav-item-left-left">
      <%= link_to root_path do %>
        <img src="https://res.cloudinary.com/dpwr92z8p/image/upload/v1591953091/home_hs1wp2.png" width="40">
      <% end %>
    </div>
    <div class="col-3 col-lg-3 text-center nav-item-left">
      <%= link_to events_path do %>
        <img src="https://res.cloudinary.com/dpwr92z8p/image/upload/v1591953090/calendarblack_gl8z1u.png" width="40">
      <% end %>
    </div>
    <div class="col-3 col-lg-3 text-center nav-item-right">
      <%= link_to meteo_path do %>
        <img src="https://res.cloudinary.com/dpwr92z8p/image/upload/v1591953092/sun_rvsbw6.png" width="40">
      <% end %>
    </div>
    <div class="col-3 col-lg-3 text-center nav-item-right-right">
      <%= link_to positions_path do %>
        <img src="https://res.cloudinary.com/dpwr92z8p/image/upload/v1591953093/trophy_en2rfs.png" width="40">
      <% end %>
    </div>
  </div>
</div>
