// list events

.card-category {
  background-size: cover;
  background-position: center;
  height: 250px;
  display: flex;
  color: white;
  font-size: 22px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin: -10px 30px 0 30px;
  align-items: flex-end;
  justify-content: flex-end;
  text-align: right;
  padding: 0 20px 10px 0;
}

.favorite-heart {
  position: relative;
  bottom: 240px; left: 40px;
  width: 90%;
}

.card-category:hover {
  box-shadow: 0 0 15px rgba(0,0,0,0.5);
}

a:hover {
  text-decoration: none;
}



// event show

.event-box {
  overflow: hidden;
}

.event-box > img {
  height: 350px;
  width: 100%;
  object-fit: cover;
}

.event-box h2 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.event-box p {
  font-size: 15px;
  opacity: .7;
  margin: 0;
}

.event-box .event-box-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.event-box-infos .event-box-heart {
  position: absolute;
  right: 20px;
  top: -30px;
  width: 60px;
  border: white 15px solid;
}

@media (min-width: 1200px) {
  .event-box-infos .event-box-heart {
    position: absolute;
    right: 80px;
  }
}
