// navbar events

.menu-bar {
  border-radius: 25px;
  height: fit-content;
  display: inline-flex;
  background-color: #184DB8;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  align-items: center;
  padding: 0 10px;
  margin: 90px 40px 0 40px;
  font-weight: lighter;
  li {
    list-style: none;
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    padding: 12px 16px;
    margin: 0 8px;
    position: relative;
    cursor: pointer;
    white-space: nowrap;
    &::before {
      content: " ";
      position: absolute;
      top: 0;
      left:0;
      height:100%;
      width: 100%;
      z-index:-1;
      transition: .2s;
      border-radius: 25px;
    }
      &:hover {
        &::before {
          background: linear-gradient(to bottom, #184DB8, #173e8b);
            box-shadow: 0px 3px 20px 0px black;
            transform: scale(1.2);
        }
        color: white;
    }
  }
}

// list events

.card-category {
  background-size: cover;
  background-position: center;
  height: 250px;
  display: flex;
  color: white;
  font-size: 22px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin: -10px 30px 0 30px;
  align-items: flex-end;
  justify-content: flex-end;
  text-align: right;
  padding: 0 20px 10px 0;
}

.favorite-heart {
  position: relative;
  bottom: 240px; left: 40px;
}

.card-category:hover {
  transform: scale(1.05);
}

a:hover {
  text-decoration: none;
}

