.classement_friend {
  padding-top: 20px;
  padding-right: 3%;
  padding-left: 3%;
  padding-bottom: 20px;
}

.btn-classementfr {
  color: white;
  border-radius: 10px;
  background: #292929;
  padding: 3px 24px;
  margin-left: 30%;
}

.titles {
  padding-bottom: 90px;
}

.btn-classementfr:hover {
  opacity: 2;
  background: #1a1919;
  text-decoration: none;
  color: white;
}

.input-classement {
  border-radius: 10px;
  margin-bottom: 3%;
  margin-left: 10%;
  background: white;
}

#hint {
  font-size: 11px;
}
