.card {
  height: 150px; /*1*/
  margin: 0px auto; /*2*/
  background: linear-gradient(45deg, rgba(251, 216, 126, 1) 0%, rgba(249, 198, 71, 1) 25%, rgba(249, 152, 72, 1) 51%, rgba(232, 55, 59, 1) 100%); /*3*/
  color: white;
  text-align: center;
  border-bottom-right-radius: 3rem 3rem;
  border-bottom-left-radius: 3rem 3rem;
  border: none;
}

.titles {
  padding-bottom: 90px;
}

.card p {
  padding-top: 95px;
  text-align: center;
  font-size: 24px;
  font-family: 'Roboto', sans-serif;
}

.result {
  background-color: #292929;
}

.compare {
  margin-left: 30%;
  margin-bottom: 1%;
}

table {
  width: 100%;
  font-family: 'Roboto', sans-serif;
  }

  th {
    height: 50px;
    color: white;
  }
  tr {
    flex-orientation: row;
    text-align: center;
  }
  th, td {
    padding: 5px;
  }

  td {
    margin: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: black;
  }
  .grid_table {
    border: 1px solid grey;
  }
tbody {

}

.input-search {
  border-radius: 5px;
}

.classement {
  padding-top: 20px;
  padding-right: 3%;
  padding-left: 3%;
  padding-bottom: 20px;
}

.btn-classement {
  color: white;
  border-radius: 5px;
  background: #292929;
  padding: 3px 12px;
}


.btn-classement:hover {
  opacity: 2;
  background: #1a1919;
  text-decoration: none;
  color: white;
}
