.card {
  height: 150px; /*1*/
  margin: 0px auto; /*2*/
  background-color: $my-blue; /*3*/
  color: white;
  text-align: center;
}

.card p {
  padding-top: 105px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}

.result {
  background-color: #C5D0FD;
}


table {
  width: 100%;
  color: black;
  }

  th {
    height: 50px;
  }
  tr {
    flex-orientation: row;
    text-align: center;
  }
  th, td {

  }
  td {
    margin: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .grid_table {
    border: 1px solid grey;
  }
tbody {

}

.input-search {
  border-radius: 5px;
}

.classement {
  padding-top: 20px;
  padding-right: 3%;
  padding-left: 3%;
}

.btn-classement {
  color: white;
  border-radius: 5px;
  background: $my-blue;
  padding: 3px 12px
}


.btn-classement:hover {
  opacity: 2;
  background: #0E3D93;
  text-decoration: none;
  color: white;
}
