// Specific CSS for your home-page

.homepage {
  background-color: red;
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  .post {
    grid-template-columns: 1fr 1fr;
    display: flex;
  }
}

.post-text {
  padding: 20px 10px 20px 10px;
}

.post-title-desc p {
  margin-bottom: 0;
}
