// Specific CSS for your home-page

.homepage {
  background-color: red;
}

.post-title-desc p {
  margin-bottom: 0;
}

@media (max-width: 1200px) {
  .post-image {
    padding: 0;
  }
  .post-like {
    padding-left: 20px;
    margin-top: 15px;
  }
  .post-text {
    padding-left: 25px;
    padding-right: 25px;
    margin-top: 0px;
  }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 1200px) {
  .post {
    display: flex;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 60px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .post-image {
    margin-left: 10px;
  }
  .post-like {
    margin-left: -240px;
  }
  .post-text {
    margin-top: 15px;
  }
}
