
.m-center3 {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h4 {
  margin-left: 1%;
  text-align: center;
  padding-top: 180px;
  margin-bottom: 10%;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 30px;
}

.bg-pass {
  background: url(https://res.cloudinary.com/dpwr92z8p/image/upload/v1592225117/8a353891-6515-4df6-837f-115f837fd019_kvnljb.jpg) no-repeat center center fixed;
  background-size: cover;
  height: 98vh;
}

.btn-pass {
  color: white;
  padding: 8px 13px;
  border-radius: 10px;
  font-weight: 600;
  background: $my-blue;
}

.btn-pass:hover {
  opacity: 2;
  background: #0E3D93;
  text-decoration: none;
  color: white;
}
