.m-center {
  margin: auto;
  width: 270px;
  height: 400px;
}

.m-center3 {
  margin: auto;
  width: 270px;
}

h3 {
  text-align: center;
  padding-top: 130px;
  margin-left: 27%;
  margin-bottom: 13%;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

h5 {
  text-align: center;
  padding-top: 100px;
  margin-bottom: 2%;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 25px;
}

h6 {
  text-align: center;
  padding-top: 25px;
  margin-bottom: 2%;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 25px;
}

.bg-sign {
  background: url(https://res.cloudinary.com/dpwr92z8p/image/upload/v1592223465/bali-4376415_1920_yut1m7.jpg) no-repeat center center fixed;
  background-size: cover;
  height: 120vh;
}

.btn {
  color: white;
  padding: 8px 90px;
  border-radius: 10px;
  font-weight: 600;
  background: $my-blue;
}

.btn:hover {
  opacity: 2;
  background: #0E3D93;
  text-decoration: none;
  color: white;
}

.btn-retour {
  color: black;
  border: 1px solid black;
  padding: 8px 20px;
  border-radius: 30px;
  font-weight: lighter;
  opacity: 0.6;
}

.btn-retour:hover {
  opacity: 2;
  text-decoration: none;
  color: black;
}

.inputFor {
  border-radius: 10px;
  margin-bottom: 3%;
  background: white;
}

.link {
  margin-left: 15%;
  margin-top: 3%;
}

.delete {
  padding-top: 130px;
  padding-bottom: 100px;
}
