.card_sign {
  padding-top: 150px;
  // padding-bottom: 50px;
}

.m-center {
  margin: auto;
  width: 270px;
  height: 400px;
}

h3 {
  margin-left: 27%;
  margin-bottom: 13%;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

.bg-sign {
  background: url(https://res.cloudinary.com/dpwr92z8p/image/upload/v1591793000/windsurfing-585720_1920_lqriks.jpg) no-repeat center center fixed;
  background-size: cover;
  height: 98vh;
}

.btn {
  color: white;
  padding: 8px 90px;
  border-radius: 10px;
  font-weight: 600;
  background: $my-blue;
}

.btn:hover {
  opacity: 2;
  background: #0E3D93;
  text-decoration: none;
  color: white;
}

.inputFor {
  border-radius: 10px;
  margin-bottom: 3%;
  background: white;
}

.link {
  margin-left: 15%;
  margin-top: 3%;
}
