.card_log {
  padding-top: 150px;
  margin-right: 150px;
}

.m-center1 {
  margin: auto;
  width: 300px;
  height: 400px;
}

.bg-log {
  background: url(https://res.cloudinary.com/dpwr92z8p/image/upload/v1592225117/8a353891-6515-4df6-837f-115f837fd019_kvnljb.jpg) no-repeat center center fixed;
  background-size: cover;
  height: 98vh;
}

h2 {
  margin-left: 11%;
  margin-bottom: 13%;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

.btn-treehouse {
  color: white;
  padding: 8px 65px;
  border-radius: 10px;
  font-weight: 600;
  background: $my-blue;
}

.btn-treehouse:hover {
  opacity: 2;
  background: #0E3D93;
  text-decoration: none;
  color: white;
}

.inputForm {
  border-radius: 10px;
  margin-bottom: 3%;
  background: white;
}

.link {
  margin-left: 15%;
  margin-top: 3%;
}

